    /* Always set the map height explicitly to define the size of the div
     * element that contains the map. */
    #map {
        height          : 700px;
        width           : 100%;
        background-color: grey;
    }

    /* Optional: Makes the sample page fill the window. */
    /* html,
    body {
        height: 100%;
        margin: 0;
        padding: 0;
    } */

    /* TODO: Step 4A1: Make a generic sidebar */
    /* Styling for an info pane that slides out from the left. 
* Hidden by default. */
    #panel {
        height          : 700px;
        width           : null;
        background-color: rgb(62, 70, 76);
        position        : absolute;
        z-index         : 1;
        overflow-x      : hidden;
        transition      : all .2s ease-out;
        color           : white;
    }

    #panel h1 {
        font-size: 2.2rem;
    }

    #panel.open {
        width: 250px;
    }

    /* Styling for place details */
    .hero {
        width     : 100%;
        height    : auto;
        max-height: 166px;
        display   : block;
    }

    .place,
    p {
        font-family  : 'open sans', arial, sans-serif;
        padding-left : 18px;
        padding-right: 18px;
    }

    .details {
        color: rgb(255, 255, 255);
    }

    a {
        text-decoration: none;
        color          : rgb(184, 253, 255);
    }