.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/adam-jaime-dmkmrNptMpw-unsplash.jpg");
  /* Set a specific height */
  height             : 250px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  position           : relative;
}

#search-bar,
#randomiser {
  margin: 50px 0;
}

.card-title {
  background: rgb(205, 205, 205, 0.6);
}

.cardHolder{
  display:flex;
  align-items:flex-start;
  justify-content:flex-start;
  flex-flow: row wrap;
  width:100%;
}

#sup-me{
  display: flex;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.modal.modal-fixed-footer {
  height: 35%;
}

.modal.modal-fixed-footer .modal-footer {
  text-align: center;
}

#dark-side {
  text-decoration: line-through;
}