/* body of the page style */
body {
  background-color: rgb(62, 70, 76);
  display         : flex;
  min-height      : 100vh;
  flex-direction  : column;
}

/* style of main container */
main {
  flex: 1 0 auto;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image   : linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/adam-jaime-dmkmrNptMpw-unsplash.jpg");
  /* Set a specific height */
  height             : 700px;
  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
  position           : relative;
}

/* add space between search area and surprise me button */
#search-bar,
#randomizer {
  margin: 50px 0;
}

/* drink card edits */
/* bg behind text */
.card-title {
  background: rgb(205, 205, 205, 0.6);
}

.cardHolder {
  display        : flex;
  align-items    : flex-start;
  justify-content: flex-start;
  flex-flow      : row wrap;
  width          : 100%;
}

.card-content {
  background-color: rgba(231, 235, 234, 255);
}

/* btn styling */
.btn {
  background-color: rgb(179, 67, 10);
}

.btn:hover {
  background-color: rgb(96, 65, 34);
}

.btn:focus {
  background-color: rgba(104, 39, 11, 255);
}

/* style inside surprise me btn */
#sup-me {
  display: flex;
}

.modal {
  border-radius   : 15px;
  background-color: rgba(62, 70, 76, 0.9);
}

.modal.modal-fixed-footer .modal-footer {
  text-align: center;
}

/* multiple targets applied same style */
.modal-footer,
.modal-fixed-footer,
.modal .modal-footer,
.modal.modal-fixed-footer .modal-footer {
  background-color: rgba(62, 70, 76, 0.9);
  border          : 0;
}

/* text inside modal age check */
#dark-side {
  text-decoration: line-through;
}

/* footer styling */
.page-footer {
  background: rgb(28, 31, 40);
  background: linear-gradient(5deg, rgba(28, 31, 40, 1) 0%, rgba(64, 48, 30, 1) 82%);
}

.page-footer p {
  padding-left: 0;
}